# Gamelog

In [1]:
import numpy as np
import pandas as pd

In [2]:
colnames=["gamerID", "gameID", "nr.number", "THEpolygon.vertex_count",
          "THEpolygon.position_x", "THEpolygon.position_y", "THEpolygon.color[0]",
          "THEpolygon.color[1]", "THEpolygon.color[2]", "THEpolygon.radius", "seconds"] 
gamelog = pd.read_csv('gamelog.csv', names=colnames, header=None)

In [3]:
gamelog['dif']=gamelog['nr.number']-gamelog['THEpolygon.vertex_count']

In [4]:
gamelog['color_list']= gamelog[['THEpolygon.color[0]','THEpolygon.color[1]','THEpolygon.color[2]']].values.tolist()

In [5]:
conditions = [
    (gamelog['color_list'].map(tuple).isin([(255, 102, 102)])),
    (gamelog['color_list'].map(tuple).isin([(102,255,102)])),
    (gamelog['color_list'].map(tuple).isin([(102,102,255)])),
    (gamelog['color_list'].map(tuple).isin([(255,255,102)])),
    (gamelog['color_list'].map(tuple).isin([(102,255,255)])),
    (gamelog['color_list'].map(tuple).isin([(255,178,102)])),
    (gamelog['color_list'].map(tuple).isin([(255,102,178)])),
    (gamelog['color_list'].map(tuple).isin([(178,102,255)]))]
choices = ['red', 'green', 'blue', 'yellow', 'teal', 'orange', 'pink', 'purple']
gamelog['color'] = np.select(conditions, choices, default='white')

In [6]:
gamelog['delta'] = (gamelog['seconds']-gamelog['seconds'].shift()).fillna(0)
gamelog.loc[gamelog['delta']<=0, 'delta'] = gamelog['seconds']

In [7]:
gamelog

,gamerID,gameID,nr.number,THEpolygon.vertex_count,THEpolygon.position_x,THEpolygon.position_y,THEpolygon.color[0],THEpolygon.color[1],THEpolygon.color[2],THEpolygon.radius,seconds,dif,color_list,color,delta
0,2189773,5576994,9,9,269,312,255,255,255,100,2.566,0,"[255, 255, 255]",white,2.566
1,2189773,5576994,7,6,1761,227,102,102,255,101,5.595,1,"[102, 102, 255]",blue,3.029
2,2189773,5576994,8,7,1571,789,255,178,102,87,8.770,1,"[255, 178, 102]",orange,3.175
3,2189773,5576994,8,8,181,200,102,255,102,134,10.159,0,"[102, 255, 102]",green,1.389
4,2189773,5576994,6,6,1478,589,255,102,178,89,12.424,0,"[255, 102, 178]",pink,2.265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,8714568,607019,5,5,317,740,102,255,255,105,1393.879,0,"[102, 255, 255]",teal,1.792
1312,8714568,607019,3,3,713,894,255,255,255,54,1396.945,0,"[255, 255, 255]",white,3.066
1313,8714568,607019,5,5,226,551,178,102,255,125,1404.265,0,"[178, 102, 255]",purple,7.320
1314,8714568,607019,3,3,1316,494,255,255,102,100,1415.479,0,"[255, 255, 102]",yellow,11.214
1315,8714568,607019,7,8,1748,329,255,178,102,140,1444.529,-1,"[255, 178, 102]",orange,29.050

# Responses

In [8]:
Responses = pd.read_csv('Mindfullness_(Responses).csv')

In [9]:
Responses = Responses.replace('Men', 'male')
Responses = Responses.replace('Not at all', 0)
Responses = Responses.replace('A little', 1)
Responses = Responses.replace('Moderately', 2)
Responses = Responses.replace('Quite a bit', 3)
Responses = Responses.replace('Very much', 4)

In [10]:
for i in range(15):
    Responses.columns.values[i+5] = "S1Q" + str(i)
    Responses.columns.values[i+21] = "S2Q" + str(i)
    Responses["Q" + str(i)] = Responses[Responses.columns.values[i+21]].astype(int)-Responses[Responses.columns.values[i+5]].astype(int)

In [11]:
Responses.select_dtypes(include='number').mean()

Age                   2.514286e+01
S1Q0                  1.571429e+00
S1Q1                  1.000000e+00
S1Q2                  2.000000e+00
S1Q3                  8.571429e-01
S1Q4                  1.428571e+00
S1Q5                  1.714286e+00
S1Q6                  8.571429e-01
S1Q7                  2.000000e+00
S1Q8                  1.428571e+00
S1Q9                  8.571429e-01
S1Q10                 2.000000e+00
S1Q11                 2.000000e+00
S1Q12                 1.714286e+00
S1Q13                 1.857143e+00
S1Q14                 5.714286e-01
Player ID             5.026946e+06
S2Q0                  2.285714e+00
S2Q1                  1.571429e+00
S2Q2                  2.857143e+00
S2Q3                  2.142857e+00
S2Q4                  2.285714e+00
S2Q5                  3.000000e+00
S2Q6                  2.000000e+00
S2Q7                  2.571429e+00
S2Q8                  2.857143e+00
S2Q9                  2.142857e+00
S2Q10                 3.142857e+00
S2Q11                 2.714286e+00
S2Q12                 2.000000e+00
S2Q13                 2.571429e+00
S2Q14                 2.142857e+00
Did you like game?    3.571429e+00
Q0                    7.142857e-01
Q1                    5.714286e-01
Q2                    8.571429e-01
Q3                    1.285714e+00
Q4                    8.571429e-01
Q5                    1.285714e+00
Q6                    1.142857e+00
Q7                    5.714286e-01
Q8                    1.428571e+00
Q9                    1.285714e+00
Q10                   1.142857e+00
Q11                   7.142857e-01
Q12                   2.857143e-01
Q13                   7.142857e-01
Q14                   1.571429e+00
dtype: float64

## Merge data

In [12]:
list(set(gamelog['gamerID'].unique()).intersection(Responses['Player ID'].unique()))

[9274304, 7226659, 8714568, 2189773, 6092123]

In [13]:
Responses['Player ID'].unique()

array([   5555, 2189773, 7226659, 1685637, 6092123, 9274304, 8714568],
      dtype=int64)

In [14]:
gamelog['gamerID'].unique()

array([2189773, 7226659, 4705656, 6092123, 9282881, 9274304, 8714568],
      dtype=int64)